.statsTable
{
	width: 80%;
	color: black;
	margin: 0 auto;
	text-align: center;
	table-layout: fixed;
}
.title
{
	color:black;
	text-align: center;
	width: 100%;
}
td
{
	font-size: 14pt;
}
.text
{
	font-size: 20pt;
}
.paddedTd
{
	padding-right: 20px;
}